// * {
//     border: 1px solid #f00;
// }


.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;

    &__promo {
        position: static;
    }

    &__fluid {
        max-width: 1250px;
        margin: 0 auto;
    }

    &__carousel {
        position: relative;
        max-width: 1500px;
        margin: 0 auto;

    }

    &__review {
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
    }

}





@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/light';
@import 'blocks/button';
@import 'base/animations';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/services';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'media';