// * {
//     border: 1px solid #f00;
// }


.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;

    &__promo {
        position: static;
    }

    &__fluid {
        max-width: 1250px;
        margin: 0 auto;
    }

    &__carousel {
        position: relative;
        max-width: 1500px;
        margin: 0 auto;

    }
}

.lamp {
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    display: none;

    .lampochka {
        width: 462px;
        height: 512px;
        position: relative;
    }

    img {
        margin-top: -50px;
        height: 450px;
        width: 100%;
        position: absolute;
    }

    img#bulb-on {
        opacity: 0;
        animation: glow 3s linear infinite;
    }

    @keyframes glow {
        0% {
            opacity: 1;
        }

        5% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        74% {
            opacity: 0;
        }

        80% {
            opacity: 1;
        }

        84% {
            opacity: 0;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    .nuladnik {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .nuladnik span {
        height: 52px;
        width: 194px;
        display: block;
        text-align: center;
        line-height: 50px;
        background: none;
        color: #f3f0f0;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
        border: 2px solid #c1c1c1;
        border-radius: 100px;
        transition: all 0.3s ease;
    }

    .nuladnik span:hover {
        background: #fff;
        color: #111;
    }

    #nuladnik:checked~.nuladnik span {
        background: #fff;
        color: #111;
    }

    .nuladnik span:before {
        content: "выключить";
    }

    #nuladnik:checked~img#bulb-on {
        animation: none;
    }

    #nuladnik:checked~.nuladnik span:before {
        content: "включить";
    }

    .lampochka input {
        display: none;
    }



}







@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/light';
@import 'blocks/button';
@import 'base/animations';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/services';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/review';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'media';