.review {
    display: block; //none
    padding-bottom: 71px;
    background-color: #c9c1c1;
    .title {
        text-transform: uppercase;
        text-align: center;
        padding-top: 60px;
    }
    &__content {
        display: flex;
        align-items: flex-start;
        &:nth-child(3) {
            margin-top: 105px;
            margin-bottom: 100px;
        }
        &:nth-child(2) {
            margin-top: 70px;
        }
    }
    &__wrapper {
        width: auto; 
    }
    &__wrapper-max {
        border-left: 2px dotted black;
        border-right: 2px dotted black;
        padding: 0 140px;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;

    }

    &__subtitle {
        font-size: 14px;
        font-weight: 300;
        color: #646464;
        margin-top: 10px;
    }

    &__text {
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 19px;
    }
    &__item {
        margin-right: 62px;
    }
}   
